body {
    background-color: #20232a;
    color: white;
}

img {
    width: 550px;
    height: 100%;
    display: block;
    padding-top: 20px;
}

li {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}